<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ header.description }}">
    <title>{{ name }} - {{ header.title }}</title>

    <!-- Specific CSS -->
    <link href="css/style.min.css" rel="stylesheet">
    <!--<link rel="stylesheet/less" type="text/css" href="css/style.less" />-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document" _texified="true" data-spy="scroll" data-target=".navbar">

    <div class="jumbotron" style="background: url('img/book_pencil.png') no-repeat fixed center center;">
      <div class="overlay"></div>
      <div class="header-title">
        <h1>{{ name }}</h1>
        <p class="lead">{{ header.lead }}</p>
      </div>
      <a class="scroll-down" href="#about">
        <i class="fa fa-chevron-circle-down"></i>
      </a>
    </div> <!-- jumbotron -->

    <nav class="navbar navbar-default" id="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="sr-only">Toggle navigation</span>
          </button>
          <div class="">{{ name }}</div>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#about">About Me</a></li>
            <li><a href="#publications">Publications</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#resume">Resum&egrave;</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#contrib">Contributions</a></li>
            <li><a href="#interests">Interests</a></li>
          </ul>
        </div> <!-- navbar-collapse -->
      </div> <!-- container-fluid -->
    </nav>

    <div class="info"  itemscope itemtype="http://schema.org/Person">

      <div class="infocell">
        <a class="anchor" id="about"></a>
        <div class="container">
          <h1>About Me</h1>
          <hr>
          <div class="row">
            <div class="col-md-8">
              {% for about in About -%}
                <p>{{ about }}</p>
              {% endfor -%}
            </div>
            <div class="col-md-4">
              <div>
                <img itemprop="image" height="500" width="365" src="img/mike_trail.png" alt="Michael T. Schmidt" class="img-responsive img-rounded"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <a href="resume.pdf"><h4>PDF Resume</h4></a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h4>Social Media &amp; Contact</h4>
              <div class="center-block socialicons">
                <ul>
                  <li>
                   <a itemprop="email" href="mailto:{{ email }}">
                      <i class="fa fa-envelope-square fa-4x"></i>
                    </a>
                  </li>
                  <li>
                    <a href="{{ Social.github }}">
                      <i class="fa fa-github-square fa-4x"></i>
                    </a>
                  </li>
                  <li>
                    <a href="{{ Social.linkedin }}">
                      <i class="fa fa-linkedin-square fa-4x"></i>
                    </a>
                  </li>
                  <li>
                    <a href="{{ Social.facebook }}">
                      <i class="fa fa-facebook-square fa-4x"></i>
                    </a>
                  </li>
                  <li>
                    <a href="{{ Social.google }}" rel="author">
                      <i class="fa fa-google-plus-square fa-4x"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!-- Container -->
      </div> <!-- about -->
      
      <div class="infocell">
        <a class="anchor" id="publications"></a>
        <div class="container">
          <h1>Publications</h1>
          <hr>
          {% for pub in Publications -%}
          <div class="row">
            <div class="col-md-4">
              <h3>{{ pub.title }}</h3>
              <a href="{{ pub.linkhref }}">
                <i class="fa fa-external-link"></i>
                {{ pub.linkname }}
              </a><br/>
              {{ pub.note }}
            </div>
            <div class="col-md-8">
              <p class="nophone">
              <div>
                <strong>Abstract:</strong>
                {{ pub.abstract }}
              </div>
              </p>
            </div>
          </div>
          {% endfor -%}
        </div> <!-- Conainer -->
      </div> <!-- Publications -->

      <div class="infocell">
        <a class="anchor" id="projects"></a>
        <div class="container" id="projectsarea">
          <h1>Projects</h1>
          <hr>
          {% for ch in Projects|sort(True, attribute='active')|batch(3) -%}
            <div class="row">
            {% for proj in ch -%}
              <div class="col-md-4">
                {% if proj.image -%}
                  <img class="img-thumbnail" src="{{ proj.image }}" alt="{{ proj.name }}" width="100%"/>
                {% endif -%}
                <h3>{{ proj.name }}</h3>
                {% if proj.tagline -%}
                <p class="lead">{{ proj.tagline }}</p>
                {% endif -%}
                {% if not proj.active -%}
                  <p class="active">-Innactive-</p>
                {% endif -%}
                {% if proj.link -%}
                  <ul class="linklist no-bullets center-text">
                    {% for name, href in proj.link.iteritems() -%}
                      <li><a href="{{ href }}">
                        {% if name == "github" -%}
                          <i class="fa fa-github"></i>
                        {% elif name == "pdf" -%}
                          <i class="fa fa-file-pdf-o"></i>
                        {% else -%}
                          <i class="fa fa-external-link"></i> 
                        {% endif -%}
                      {{ name|upper }}</a></li>
                    {% endfor -%}
                  </ul>
                {% endif -%}
                <p class="nophone">
                  {{ proj.description }}
                </p>
              </div>
            {% endfor -%}
            </div>
            {% if not loop.last %}<hr>{% endif %}
          {% endfor -%}
          
          <hr>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 center-text">
              <h3>Other Projects on GitHub</h3>
              <div class="githubprojects">
              </div>
            </div>
          </div> <!-- GitHub Projects -->
        </div> <!-- Container -->
      </div> <!-- Projects -->
      
      <div class="infocell rowpadding">
        <a class="anchor" id="resume"></a>
        <div class="container">
          <h1>Resum&egrave;</h1>
          <hr>
            <a class="anchor" id="education"></a>
            <h2>Education</h2>
            {% for edu in Education|sort(True, attribute='_id') -%}
            <div class="row" itemprop="alumniOf" itemscope itemtype="http://schema.org/CollegeOrUniversity">
              <div class="col-md-4">
                <h3 itemprop="name">{{ edu.Institution|title }}</h3>
                <p class="lead">{{ edu.Start|dateToMonthYear }} - {{ edu.End|dateToMonthYear }}</p>
              </div>
              <div class="col-md-8">
                <p class="nophone">
                  <strong>{{ edu.Degree }} - {{ edu.Degree|merge_list(' & ') }}</strong><br/>
                  <span>

                  </span>
                  <span>
                    <span class="location">
                      <i class="fa fa-map-marker"></i>{{ edu.Location }}
                      <br/>
                      <a itemprop="sameAs" href="http://{{ edu.link }}">
                        <i class="fa fa-external-link"></i>
                        {{ edu.link }}
                      </a>
                    </span>
                  </span>
                </p>
              </div>
            </div>
            {% endfor -%}
            <hr>
            <h2>Experience</h2>
            {% for work in Experience -%}
            <div class="row">
              <div class="col-md-4">
                <h3>{{ work.Company }}{% if work.Division %}: {{ work.Division }}{% endif %}</h3>
                <p class="lead">{{ work.Start|dateToMonthYear }} - {{ work.End|dateToMonthYear }}</p>
              </div>
              <div class="col-md-8">
                <span class="nophone">
                  <strong>{{ work.Position|merge_list(' / ') }}</strong><br/>
                  <span>
                    <p class="nophone">
                      {{ work.Description }}
                    </p>
                  </span>
                  <span>
                    <span class="location">
                      <i class="fa fa-map-marker"></i>
                      {{ work.Location|merge_list(' / ') }}
                      <br/>
                      <a href="{{ work.linkhref }}">
                        <i class="fa fa-external-link"></i>
                        {{ work.linkname }}
                      </a>
                      {% if work.Keywords|non_empty -%}
                      <br/>
                      <i class="fa fa-tags"></i>{{ work.Keywords|merge_list(' / ')|title}}
                      {% endif -%}
                    </span>
                  </span>
                </span>
              </div>
            </div>
            {% endfor -%}
          </div> <!-- Container -->
      </div> <!-- Resume -->

      <div class="infocell">
      <a class="anchor" id="skills"></a>
        <div class="container">
            <div class="skills">
              <h2>Skills</h2>
              <hr>
              {% for field in skills|sort(True, attribute='weight') -%}
              <h3>{{ field.field|merge_list(' / ') }}</h3>
              <div class="row">
               {% for subf in field.subfields -%}
                {% if loop.index0 is divisibleby(3) -%}
              </div> <!-- End of Row -->
              <div class="row">
                {% endif -%}
                <div class="col-md-{{ subf.space|default('4') }}">
                  <h4>{{ subf.area }}</h4>
                  <ul>
                    {% for skill, level in subf.skills.iteritems() -%}
                    <li>
                      <span class="ability-title">{{ skill }}</span>
                      <span class="ability-value">
                        {% for n in range(level) -%}
                          <i class="fa fa-star"></i>
                        {% endfor -%}
                        {% for n in range(settings.max_rank - level) -%}
                          <i class="fa fa-star-o"></i>
                        {% endfor -%}
                      </span>
                    </li>
                    {% endfor -%}
                  </ul>
                </div>
                {% endfor -%}
              </div>
              {% endfor -%}
            </div>
          </div> <!-- Container -->
      </div> <!-- Skills -->

      <div class="infocell">
        <a class="anchor" id="contrib"></a>
        <div class="container">
          <h1>Contributions</h1>
          <hr>
          <div class="row">
            <div class="col-md-4 col-md-offset-2" itemprop="knows" itemscope itemtype="http://schema.org/Person">
              <h3>Physics Mill</h3>
              <p class="lead"><span itemprop="name">Jonah Miller</span>'s Blog on Math/Physics</p>
              <a itemprop="url" href="http://www.thephysicsmill.com/">
                <i class="fa fa-external-link"></i>
                www.thephysicsmill.com
              </a>
            </div>
            <div class="col-md-4" itemprop="knows" itemscope itemtype="http://schema.org/Person">
              <h3>MontessoriMuddle</h3>
              <p class="lead">A blog about education from <span itemprop="name">Dr. Lensyl Urbano</span></p>
              <a itemprop="url" href="http://montessorimuddle.org/">
                <i class="fa fa-external-link"></i>
                montessorimuddle.org
              </a>
            </div>
          </div>
        </div> <!-- Container -->
      </div> <!-- Contrib -->

      <div class="infocell">
        <a class="anchor" id="interests"></a>
        <div class="container">
          <h1>Interests</h1>
          <hr>
          <div class="row">
            <div class="col-md-3 col-md-offset-4">
              <h3>Project Euler</h3>
              <p>
                Project Euler is a algorithmic puzzle website.
                Each problem required study in complex mathematics and algorithmic development.
                My profile info is below:
              </p>
              <img class="lazy" data-original="http://projecteuler.net/profile/schmidmt.png" class="img-responsive" alt="Schmidtmt's ProjectEuler Stats" width="200" height="60">
              <noscript><img src="http://projecteuler.net/profile/schmidmt.png" class="img-responsive" alt="Schmidtmt's ProjectEuler Stats" width="200" height="60"></noscript>
            </div>
            <!--
            <div class="col-md-3">
              <h3>Strava</h3>
              <iframe height='160' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='http://www.strava.com/athletes/663258/activity-summary/8ffe67d7c941112b44d7193a375ec36c76f01f37'></iframe>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
            -->
          </div>
        </div>
      </div> <!-- Interests -->
    </div> <!-- Info -->
    
    <div class="bottom lazy" data-original="img/green-small.png" style="background:url('img/grey.gif') no-repeat;">
      <a class="anchor" id="bottom"></a>
      <div class="overlay">
      </div>
      <div class="row">
        <div class="col-md-4-offset-4">
        </div>
      </div>
    </div> <!-- Bottom -->

    <!-- Local Script -->
    <script src="js/script.min.js" defer></script>

    <script defer>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48525512-1', 'schmidmt.com');
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');
    </script>
  </body>
</html>

